body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

body {
  background: #c4def6;
}

.chart {
  height: 700px;
  width: 99%;
  margin: 5px;
  margin: 5px auto;
  border: 3px solid #ddd;
  border-radius: 3px;
  background-color: #fffbdb;
}
.node {
  color: #964b00;
  border: 2px solid #c8c8c8;
  border-radius: 3px;
}

#has {
  border: 4px solid #89cff0;
  border-radius: 3px;
}

.node .node-title {
  color: red;
  font-size: 15px;
  line-height: 20px;
  height: 20px;
}

.node .node-name {
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  height: 20px;
  font-weight: bold;
  padding: 3px;
  margin: 0;
}
.node .node-desc {
  color: green;
  font-size: 15px;
  line-height: 20px;
  height: 20px;
}
.Treant .collapse-switch {
  width: 100%;
  height: 100%;
  border: none;
  opacity: 0;
}
